<!-- https://realfavicongenerator.net/ -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ 'assets/cv/logo.jpg?v=20260330' | relative_url }}"
/>
<link
  rel="icon"
  type="image/jpeg"
  href="{{ 'assets/cv/logo.jpg?v=20260330' | relative_url }}"
/>
<link
  rel="shortcut icon"
  type="image/jpeg"
  href="{{ 'assets/cv/logo.jpg?v=20260330' | relative_url }}"
/>
<link rel="manifest" href="{{ 'icons/site.webmanifest' | relative_url }}" />

<!-- https://metatags.io/ -->
<meta
  property="og:image"
  content="{{ 'icons/share-thumbnail.jpg' | absolute_url }}"
/>
<meta
  property="twitter:image"
  content="{{ 'icons/share-thumbnail.jpg' | absolute_url }}"
/>
