{% assign papers = site.data.research-output %}
{% assign papers = papers | sort: "date" | reverse %}
{% assign byyear = papers | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}

{% for yeargroup in byyear %}

### {{ yeargroup.name }}
{:.card_search_hide}

{% for paper in yeargroup.items %}

{% assign authors = paper.authors | join: ", " %}
{% assign primary_link = paper.page | default: paper.link %}
{% assign extra_links = paper["extra-links"] %}

{%- capture details -%}
{{- paper.publisher -}}
&nbsp; · &nbsp;
{{- paper.date | date: "%d %b %Y" -}}
{%- endcapture -%}

{% capture tags %}
{% include tags.html tags=paper.tags repo=paper.repo %}
{% endcapture %}

{% capture extralinks %}
{% if paper.page %}
<div>
  {% include paper-link.html type="website" link=paper.page text="Project Page" %}
</div>
{% endif %}
{% if extra_links and extra_links.size > 0 %}
<div>
  {%- for link in extra_links -%}
  {% include paper-link.html type=link.type link=link.link text=link.text %}
  {%- endfor -%}
</div>
{% endif %}
{% endcapture %}

{%
  include card.html
  size="small"
  image=paper.image
  link=primary_link
  heading=paper.title
  truncate=2
  row1=authors
  row2=details
  row3=tags
  row4=extralinks
%}

{% endfor %}

{% endfor %}
