<html>
  {% include head.html %}
  {% assign is_homepage = page.url == '/' %}
  <body class="{% if is_homepage %}is-homepage{% endif %}">
    {% include header.html %}
    <main{% if is_homepage %} class="homepage_main"{% endif %}>
      {% if is_homepage %}
      <div class="home_logo_overlay" aria-hidden="true">
        <div class="home_logo_stage">
          <img class="home_logo_image" src="{{ 'assets/cv/logo_without_bg.png' | relative_url }}" alt="" />
          <span class="home_logo_flow"></span>
        </div>
      </div>
      {{ content }}
      {% else %}
      {% include content.html content=content %}
      {% endif %}
    </main>
    {% include footer.html %}
  </body>
</html>
